* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

/* Estilo para desktop */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    opacity: 0.7;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    *::-webkit-scrollbar {
        width: 4px; /* Barra mais fina no celular */
        height: 4px;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 10px;
        opacity: 0.5;
    }

    *::-webkit-scrollbar-track {
        background-color: transparent; /* Remove fundo para suavizar */
    }
}

