@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    background-color: #fdf5d2;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-sign {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left-sign {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.left-sign img {
    max-width: 40%;
    height: auto;
}

.left-sign h1 {
    color: #8d6138;
    font-size: 2rem;
    margin-top: 20px;
}

.right-sign {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-sign {
    width: 100%;
    max-width: 400px;
    padding: 30px 35px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgba(236, 154, 72, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sign h2 {
    color: #060606;
    font-weight: 600;
    margin-bottom: 20px;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.textfield label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
}

.textfield input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #EEE;
    color: #000;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.textfield a {
    margin-top: 20px;
    font-size: 14px;
    color: #EC9A48;
    text-decoration: none;
}

.textfield a:hover {
    text-decoration: underline;
}

.checkfield {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkfield label {
    font-weight: 400;
    margin-left: 10px;
}

.checkfield input {
    width: 15px;
    height: 15px;
}

.btn-sign {
    background-color: #EC9A48;
    width: 100%;
    padding: 16px 0;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-sign:hover {
    background-color: #d98840;
}

@media only screen and (max-width: 768px) {
    .main-sign {
        flex-direction: column;
    }

    .left-sign {
        display: none;
    }

    .right-sign {
        width: 100vw;
        height: auto;
        padding: 0;
    }

    .card-sign {
        width: 90%;
        max-width: 350px;
    }
}
