body {
    display: grid;
    grid-template-areas:
        "sidebar-left main sidebar-right"
        "footer footer footer";
    grid-template-columns: 0.5fr 3fr 1fr;
    background: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* header {
    height: 70px;
    background-color: var(--header-bg-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* header img {
    height: 60px;
    border-radius: 2px;
} */

main {
    grid-area: main;
    background-color: #eee;
    padding: 20px;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: var(--header-bg-color);
    text-align: center;
    font-size: 24px;
}

.sidebar-left>img {
    height: 60px;
    border-radius: 2px;
}

.sidebar-right {
    grid-area: sidebar-right;
    padding: 20px;
    background-color: var(--header-bg-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mobile-menu {
    grid-area: footer;
    background-color: var(--header-bg-color);
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.mobile-menu,
ul li:hover {
    transition: 0.5s ease-in-out;
}


.mobile-menu {
    display: none;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--sidebar-right-bg-color);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.mobile-menu nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.mobile-menu nav ul li {
    text-align: center;
    padding: 10px;
}

.mobile-menu nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s;
}

.mobile-menu nav ul li button i {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s;
    font-size: 24px;
}

.mobile-menu nav ul li a:hover {
    color: var(--hover-color);
}